* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'OpenSans', sans-serif;
  background-image: url('./img/bc.png');
  position: relative;
}
.container {
  margin: 150px auto;
  padding: 0;
  width: 400px;
}
header {
  background: url('./img/scenic-view-of-night-sky-1252873.jpg');
  background-size: cover;
  height: 200px;
  border-radius: 20px 20px 0 0;
  position: relative;
  text-align: center;
  color: white;
}
header #date {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
main {
  background-color: #fff;
  position: relative;
  width: 400px;
  height: 400px;
  max-height: 400px;
  overflow: auto;
  color: rgba(0, 0, 0, 0.5);
}
main::-webkit-scrollbar {
  display: none;
}
.item {
  width: 400px;
  height: 45px;
  min-height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  list-style: none;
  height: 45px;
}
.item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.item p {
  max-width: 290px;
  line-height: 45px;
  overflow-x: hidden;
}
.check {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  border: 1px solid #ccc;
  border-radius: 100px;
}
.checked {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  border: 1px solid #ccc;
  border-radius: 100px;
  filter: brightness(30%) sepia(90%) hue-rotate(120deg) saturate(1000%)
    contrast(1);
}
.text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  position: relative;
  font-size: 18px;
  left: 50px;
  max-width: 105px;
}
.lineThrough {
  text-decoration: line-through;
  color: #ccc;
}
.trash {
  position: absolute;
  width: 25px;
  right: 15px;
  top: 10px;
}
.trash:hover {
  filter: invert(60%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
.addItem {
  position: relative;
  width: 350px;
  margin: 10px auto;
  height: 30px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.addItem img {
  vertical-align: middle;
  height: 100%;
}
.addItem input {
  position: absolute;
  left: 40px;
  height: 30px;
  width: 310px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
}
.addItem input:focus {
  outline-width: 0;
}
footer {
  font-style: italic;
  background-color: #fff;
  padding: 8px;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
